body {
    width: 98%;
    padding: 0%;
    background-color: lavender;
    margin: auto;
}

div {
    border: 1px solid black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
}

.profile-area {
    background-color:aliceblue;
    flex: 0 1 25%;
}

#navigation-bar > li > a {
    text-decoration: none;
}

#navigation-bar > li > a:hover {
    color:blueviolet;
}

.header-bar {
    background-color: antiquewhite;
}